<<<<<<< HEAD

=======
>>>>>>> 055303250a1b11e80dbdba56c526b07788fd7d0d
@mixin telefono {
  @media (min-width: $telefono){
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet){
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop){
    @content;
  }
<<<<<<< HEAD
}

@mixin grid($columnas, $espaciado) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  gap: $espaciado;
}

@mixin telefono {
  @media (min-width: $telefono){
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet){
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop){
    @content;
  }
}

@mixin grid($columnas, $espaciado) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  gap: $espaciado;
=======
>>>>>>> 055303250a1b11e80dbdba56c526b07788fd7d0d
}