<<<<<<< HEAD
.bg-verde {
  background-color: $verde;
}
.bg-amarillo {
  background-color: $amarillo;
=======
.bg-verde {
  background-color: $verde;
}
.bg-amarillo {
  background-color: $amarillo;
>>>>>>> 6to commit, sección de Line Up ok
}