<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 7to commit, sección de galería ok
.bg-verde {
  background-color: $verde;
}
.bg-amarillo {
  background-color: $amarillo;
<<<<<<< HEAD
=======
.bg-verde {
  background-color: $verde;
}
.bg-amarillo {
  background-color: $amarillo;
>>>>>>> 6to commit, sección de Line Up ok
=======
>>>>>>> 7to commit, sección de galería ok
}